{% extends 'invoice/index.html' %}

{% block content%}
    <section>
        <div class="container">
            <h1>Create Invoice</h1>
            <form method="post">
                {% csrf_token %}
                <!--
                <label for="client_name">Client Name:</label>
                <input type="text" id="client_name" name="client_name"><br>
                <label for="company_name">Company Name:</label>
                <input type="text" id="company_name" name="company_name"><br>
                <label for="company_address">Company Address:</label>
                <input type="text" id="company_address" name="company_address"><br>
                <label for="item_description">Item Description</label>
                <input type="text" id="item_description" name="item_description"><br>
                <label for="item_quantity">Item Quantity:</label>
                <input type="int" id="client_name" name="client_name"><br>
                -->
                {{ form.as_p }}
                <button type="submit">Save Invoice</button>
            </form>
        </div>
    </section>
{% endblock %}
