{% extends 'invoice/index.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Invoice List</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Invoice Number</th>
                <th>Client</th>
                <th>Address</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Amount Due</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoice %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.client_name }}</td>
                <td>{{ invoice.billing_address }}</td>
                <td>{{ invoice.created_at|date:"DATE_FORMAT" }}</td>
                <td>{{ invoice.due_date|date:"DATE_FORMAT" }}</td>
                <td>{{ invoice.total_cost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}